<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>Cnblogs Tags</title>
  <style>
    div {
      margin: 0 auto;
      max-width: 800px;
      padding-bottom: 50px;
    }
    h3 {
      padding-left: 40px;
    }
    ul {
      list-style: none;
      display: block;
      width: 100%;
    }
    ul:after {
      content: ".";
      clear: both;
      height: 0;
      visibility: hidden;
      display: block;
    }
    li {
      float: left;
      margin-right: 30px;
      line-height: 25px;
    }
    a {
      display: block;
    }
  </style>

  <!-- Bootstrap 核心 CSS 文件 -->
  <link href="/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div>
    <!-- 左侧tab -->
    <div id="list-example" class="list-group">
      {% for category,item in info %}
        <a class="list-group-item list-group-item-action" href="#list-item-{{category}}">
          {{category}}<span class="badge">{{item['num']}}</span>
        </a>
      {% endfor %}
    </div>

    <!-- 具体内容 -->
    <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
      {% for category,item in info %}
        <h4 id="list-item-{{category}}">{{category}}</h4>
        {% for subCategory,tags in item['list'] %}
          <h6>{{subCategory}}</h6>
          <ul>
            {% for tag,val in tags %}
              <li>
                <a href="{{val['link']}}" target="_blank">
                  {{tag}}<span class="badge">{{val['num']}}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
          {% endfor}
      {% endfor %}
    </div>


    <br><br><br><br><br><br><br>
    <a href="update.php" class="text-center" target="_self"> >>>>> 更新 <<<<< </a>
  </div>


  <!-- Bootstrap 核心 JavaScript 文件 -->
  <script src="/bootstrap-4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
