<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>Cnblogs Tags</title>
  <style>
    body {
      position: relative;
    }
    ul.nav-pills {
      top: 20px;
      position: fixed;
    }
    h3 {
      padding-left: 40px;
    }
    ul {
      list-style: none;
      display: block;
      width: 100%;
    }
    ul:after {
      content: ".";
      clear: both;
      height: 0;
      visibility: hidden;
      display: block;
    }
    li {
      float: left;
      margin-right: 30px;
      line-height: 25px;
    }
    a {
      display: block;
    }
  </style>

  <!-- Bootstrap 核心 CSS 文件 -->
  <link href="/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
  <div class="container">
    <div class="row">
      <nav class="col-sm-3" id="myScrollspy">
        <div class="container-fluid">
          <div class="container-fluid">
            <ul class="nav nav-pills nav-stacked">
              {% for category,item in result %}
                <li {% if loop.first %}class="active"{% endif %}>
                  <a href="#{{category}}">{{category}}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>
      <div class="col-sm-9">
        {% for category,item in result %}
          <div id="{{category}}">
            <h1>{{category}}</h1>

            {% for subCategory,tags in item['list'] %}
              <h6>{{subCategory}}</h6>
              <ul>
                {% for tag,val in tags %}
                  <li>
                    <a href="{{val['link']}}" target="_blank">
                      {{tag}}<span class="badge">{{val['num']}}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>


  <br><br><br><br><br><br><br>
  <a href="update.php" class="text-center" target="_self"> >>>>> 更新 <<<<< </a>


  <!-- Bootstrap 核心 JavaScript 文件 -->
  <script src="/bootstrap-4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
